@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: 'Casanova Scotia Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Casanova Scotia Regular"), url("../webfonts/Casanova Scotia.woff") format("woff"); }

*,
*::before,
*::after {
  padding: 0px;
  margin: 0px; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 767.98px) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Roboto', sans-serif;
  position: relative; }

h1 {
  font-size: 2rem; }

p {
  color: #58585B; }

.shared-title {
  text-align: center;
  position: relative;
  padding: 1rem;
  width: 80%;
  margin: 0 auto; }
  .shared-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5rem;
    height: 0.2rem;
    background-color: black; }
  .shared-title .shared-title__title {
    font-family: "Casanova Scotia Regular";
    font-size: 4rem;
    margin-bottom: 2rem; }
  .shared-title .shared-title__desc {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #A7A9AB; }

.button-white-border-hoverable {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  color: white !important;
  border: 1px solid white;
  border-radius: 0rem;
  width: 15rem;
  text-align: center;
  padding: 1rem 2rem;
  background-color: transparent;
  transition: all 0.2s;
  overflow: hidden;
  position: relative; }
  .button-white-border-hoverable:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg); }
  .button-white-border-hoverable:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg); }
  .button-white-border-hoverable:hover, .button-white-border-hoverable:focus {
    color: white;
    text-decoration: none;
    cursor: pointer; }
    .button-white-border-hoverable:hover:before, .button-white-border-hoverable:focus:before {
      transform: translateX(300px) skewX(-15deg);
      opacity: 0.6;
      transition: 1.4s; }
    .button-white-border-hoverable:hover:after, .button-white-border-hoverable:focus:after {
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: 1.4s; }

.button-white {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  color: black !important;
  border: 1px solid white;
  border-radius: 0rem;
  width: 15rem;
  text-align: center;
  padding: 1rem 2rem;
  background-color: white;
  transition: all 0.2s;
  overflow: hidden;
  position: relative; }
  .button-white:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg); }
  .button-white:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg); }
  .button-white:hover, .button-white:focus {
    color: white;
    text-decoration: none;
    cursor: pointer; }
    .button-white:hover:before, .button-white:focus:before {
      transform: translateX(300px) skewX(-15deg);
      opacity: 0.6;
      transition: 1.4s; }
    .button-white:hover:after, .button-white:focus:after {
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: 1.4s; }

.button-black {
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  color: white !important;
  border-radius: 0rem;
  width: 15rem;
  text-align: center;
  padding: 1rem 2rem;
  background-color: black;
  transition: all 0.2s;
  overflow: hidden;
  display: inline-block; }
  .button-black:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg); }
  .button-black:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg); }
  .button-black:hover, .button-black:focus {
    color: white !important;
    text-decoration: none;
    cursor: pointer; }
    .button-black:hover:before, .button-black:focus:before {
      transform: translateX(300px) skewX(-15deg);
      opacity: 0.6;
      transition: 1.4s; }
    .button-black:hover:after, .button-black:focus:after {
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: 1.4s; }

.showerrormessage {
  color: #dc3545;
  display: block; }

.hiderrormessage {
  display: none; }

.errorborder {
  border-color: #dc3545 !important; }

.successborder {
  border-color: #34b752 !important; }

.modal-content {
  background-color: transparent !important;
  border: none !important; }

.modal-header {
  border-bottom: none; }

.navbar {
  font-family: 'Casanova Scotia Regular';
  padding: 1.2rem 0rem;
  font-size: 1.5rem;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 100; }
  @media (max-width: 767.98px) {
    .navbar {
      padding: 1.2rem 2rem;
      box-shadow: 0rem 0px 1rem #A7A9AB; } }
  .navbar .navbar-brand {
    flex: 1; }
    .navbar .navbar-brand img {
      width: 20rem;
      height: auto; }
      @media (max-width: 991.98px) {
        .navbar .navbar-brand img {
          width: 20rem; } }
  .navbar .navbar-toggler {
    border: none;
    background: transparent !important; }
    .navbar .navbar-toggler:focus {
      outline: none; }
    .navbar .navbar-toggler .icon-bar {
      width: 22px;
      height: 2px;
      background-color: #265e79;
      display: block;
      transition: all 0.2s;
      margin-top: 4px; }
    .navbar .navbar-toggler.collapsed .top-bar {
      transform: rotate(0); }
    .navbar .navbar-toggler.collapsed .middle-bar {
      opacity: 1; }
    .navbar .navbar-toggler.collapsed .bottom-bar {
      transform: rotate(0); }
    .navbar .navbar-toggler .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%; }
    .navbar .navbar-toggler .middle-bar {
      opacity: 0; }
    .navbar .navbar-toggler .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%; }
  @media (max-width: 991.98px) {
    .navbar .navbar-collapse {
      position: absolute;
      top: 9rem;
      left: 0;
      width: 100%;
      background-color: white; } }
  @media (max-width: 991.98px) {
    .navbar .navbar-collapse ul.navbar-nav li.nav-item {
      text-align: center; } }
  .navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
    padding: 2rem !important;
    transition: all 0.2s; }
    .navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link:link, .navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link:visited {
      color: #265e79; }
    .navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link:hover, .navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link:focus {
      color: #265e79; }
      @media (max-width: 991.98px) {
        .navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link:hover, .navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link:focus {
          background-color: rgba(38, 94, 121, 0.1); } }
  .navbar .navbar-collapse ul.navbar-nav li.nav-item .dropdown-menu {
    display: block;
    right: 0;
    left: -4rem;
    top: calc(100% + 1rem);
    border: 0px solid transparent;
    color: white;
    background-color: #265e79;
    opacity: 0;
    transform: translateY(2rem);
    transition: all 0.2s;
    visibility: hidden; }
    @media (max-width: 991.98px) {
      .navbar .navbar-collapse ul.navbar-nav li.nav-item .dropdown-menu {
        background-color: white;
        color: #265e79; } }
    .navbar .navbar-collapse ul.navbar-nav li.nav-item .dropdown-menu.show {
      visibility: visible;
      opacity: 1;
      transform: translateY(0rem); }
      @media (max-width: 991.98px) {
        .navbar .navbar-collapse ul.navbar-nav li.nav-item .dropdown-menu.show {
          display: block; } }
    @media (max-width: 991.98px) {
      .navbar .navbar-collapse ul.navbar-nav li.nav-item .dropdown-menu {
        display: none;
        visibility: visible;
        opacity: 1;
        transform: translateY(0rem);
        padding: 0px;
        border: 0px solid transparent; } }
    .navbar .navbar-collapse ul.navbar-nav li.nav-item .dropdown-menu .dropdown-item {
      font-size: 1.5rem;
      text-align: center;
      padding: 1rem 2rem !important;
      color: white;
      background-color: #265e79;
      transition: all 0.2s; }
      @media (max-width: 991.98px) {
        .navbar .navbar-collapse ul.navbar-nav li.nav-item .dropdown-menu .dropdown-item {
          padding: 2rem !important;
          background-color: rgba(38, 94, 121, 0.03);
          color: #265e79; } }
      .navbar .navbar-collapse ul.navbar-nav li.nav-item .dropdown-menu .dropdown-item:active, .navbar .navbar-collapse ul.navbar-nav li.nav-item .dropdown-menu .dropdown-item:hover {
        color: #265e79;
        background-color: white; }
        @media (max-width: 991.98px) {
          .navbar .navbar-collapse ul.navbar-nav li.nav-item .dropdown-menu .dropdown-item:active, .navbar .navbar-collapse ul.navbar-nav li.nav-item .dropdown-menu .dropdown-item:hover {
            background-color: rgba(38, 94, 121, 0.1); } }
  .navbar .navbar-collapse ul.navbar-nav.icon-group {
    align-items: center; }
    @media (max-width: 991.98px) {
      .navbar .navbar-collapse ul.navbar-nav.icon-group {
        display: none; } }
    .navbar .navbar-collapse ul.navbar-nav.icon-group li.nav-item a.nav-link {
      padding: 1rem !important; }
      .navbar .navbar-collapse ul.navbar-nav.icon-group li.nav-item a.nav-link.facebook:hover, .navbar .navbar-collapse ul.navbar-nav.icon-group li.nav-item a.nav-link.facebook:focus {
        color: #3b5998; }
      .navbar .navbar-collapse ul.navbar-nav.icon-group li.nav-item a.nav-link.linkedin:hover, .navbar .navbar-collapse ul.navbar-nav.icon-group li.nav-item a.nav-link.linkedin:focus {
        color: #007bb6; }
      .navbar .navbar-collapse ul.navbar-nav.icon-group li.nav-item a.nav-link.youtube:hover, .navbar .navbar-collapse ul.navbar-nav.icon-group li.nav-item a.nav-link.youtube:focus {
        color: #bb0000; }

a.scroll-to-top:link, a.scroll-to-top:hover, a.scroll-to-top:visited {
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: black;
  color: white;
  bottom: -100%;
  right: 10rem;
  cursor: pointer;
  transition: all 1s;
  z-index: 100; }
  @media (max-width: 767.98px) {
    a.scroll-to-top:link, a.scroll-to-top:hover, a.scroll-to-top:visited {
      right: 5rem; } }
  a.scroll-to-top:link.show, a.scroll-to-top:hover.show, a.scroll-to-top:visited.show {
    bottom: 8rem; }

.footer {
  background-color: black;
  padding: 2rem 0rem;
  display: flex; }
  .footer .footer__wrapper {
    display: flex; }
  .footer .footer__icons .nav .nav-item a.nav-link {
    font-size: 1.2rem;
    font-weight: 600; }
    .footer .footer__icons .nav .nav-item a.nav-link:link, .footer .footer__icons .nav .nav-item a.nav-link:visited {
      color: white; }
    .footer .footer__icons .nav .nav-item a.nav-link:hover, .footer .footer__icons .nav .nav-item a.nav-link:focus {
      color: white; }
  .footer .footer__credits {
    flex: 1;
    color: white;
    text-align: right;
    font-size: 1.5rem; }

.our-team {
  padding: 8rem 0rem; }
  @media (max-width: 767.98px) {
    .our-team {
      padding-bottom: 5rem; } }
  .our-team .our-team__wrapper {
    display: flex;
    margin-top: 6rem;
    flex-wrap: wrap;
    justify-content: space-between; }
    .our-team .our-team__wrapper .our-team__member {
      width: 23%; }
      @media (max-width: 767.98px) {
        .our-team .our-team__wrapper .our-team__member {
          width: 45%;
          margin-bottom: 3rem; } }
      .our-team .our-team__wrapper .our-team__member .our-team__member--photo {
        margin-bottom: 1rem;
        position: relative; }
        .our-team .our-team__wrapper .our-team__member .our-team__member--photo img {
          width: 100%;
          height: auto; }
        .our-team .our-team__wrapper .our-team__member .our-team__member--photo:hover .our-team__member--photo-social {
          transform: scale(1);
          opacity: 1; }
        .our-team .our-team__wrapper .our-team__member .our-team__member--photo .our-team__member--photo-social {
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.8);
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: scale(0.5);
          opacity: 0;
          transition: all 0.2s; }
          .our-team .our-team__wrapper .our-team__member .our-team__member--photo .our-team__member--photo-social ul {
            list-style: none; }
            .our-team .our-team__wrapper .our-team__member .our-team__member--photo .our-team__member--photo-social ul li {
              float: left;
              margin-right: 1rem; }
              .our-team .our-team__wrapper .our-team__member .our-team__member--photo .our-team__member--photo-social ul li:last-child {
                margin-right: 0 rem; }
              .our-team .our-team__wrapper .our-team__member .our-team__member--photo .our-team__member--photo-social ul li a {
                display: block;
                width: 5rem;
                height: 5rem;
                background-color: transparent;
                border: 0.3rem solid white;
                color: white;
                border-radius: 50%;
                font-size: 1.5rem;
                position: relative; }
                .our-team .our-team__wrapper .our-team__member .our-team__member--photo .our-team__member--photo-social ul li a i {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%); }
      .our-team .our-team__wrapper .our-team__member .our-team__member--name {
        text-align: center; }
        .our-team .our-team__wrapper .our-team__member .our-team__member--name h2 {
          font-family: "Casanova Scotia Regular";
          font-size: 2rem; }
      .our-team .our-team__wrapper .our-team__member .our-team__member--designation {
        text-align: center; }
        .our-team .our-team__wrapper .our-team__member .our-team__member--designation p {
          font-size: 1.5rem;
          color: #A7A9AB; }

.page-loader {
  min-height: 100vh;
  color: #ADAFB6;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F9FBFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  opacity: 1;
  transition: opacity 0.2s linear; }
  .page-loader.loaded {
    opacity: 0;
    pointer-events: none; }
  .page-loader .boxes {
    --size: 32px;
    --duration: 800ms;
    height: calc(var(--size) * 2);
    width: calc(var(--size) * 3);
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    margin-top: calc(var(--size) * 1.5 * -1);
    transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px); }
    .page-loader .boxes .box {
      width: var(--size);
      height: var(--size);
      top: 0;
      left: 0;
      position: absolute;
      transform-style: preserve-3d; }
      .page-loader .boxes .box:nth-child(1) {
        transform: translate(100%, 0);
        animation: box1 var(--duration) linear infinite; }
      .page-loader .boxes .box:nth-child(2) {
        transform: translate(0, 100%);
        animation: box2 var(--duration) linear infinite; }
      .page-loader .boxes .box:nth-child(3) {
        transform: translate(100%, 100%);
        animation: box3 var(--duration) linear infinite; }
      .page-loader .boxes .box:nth-child(4) {
        transform: translate(200%, 0);
        animation: box4 var(--duration) linear infinite; }
      .page-loader .boxes .box > div {
        --background: #5C8DF6;
        --top: auto;
        --right: auto;
        --bottom: auto;
        --left: auto;
        --translateZ: calc(var(--size) / 2);
        --rotateY: 0deg;
        --rotateX: 0deg;
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--background);
        top: var(--top);
        right: var(--right);
        bottom: var(--bottom);
        left: var(--left);
        transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ)); }
        .page-loader .boxes .box > div:nth-child(1) {
          --top: 0;
          --left: 0; }
        .page-loader .boxes .box > div:nth-child(2) {
          --background: #145af2;
          --right: 0;
          --rotateY: 90deg; }
        .page-loader .boxes .box > div:nth-child(3) {
          --background: #447cf5;
          --rotateX: -90deg; }
        .page-loader .boxes .box > div:nth-child(4) {
          --background: #DBE3F4;
          --top: 0;
          --left: 0;
          --translateZ: calc(var(--size) * 3 * -1); }

@keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0); }
  100% {
    transform: translate(200%, 0); } }

@keyframes box2 {
  0% {
    transform: translate(0, 100%); }
  50% {
    transform: translate(0, 0); }
  100% {
    transform: translate(100%, 0); } }

@keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%); }
  100% {
    transform: translate(0, 100%); } }

@keyframes box4 {
  0% {
    transform: translate(200%, 0); }
  50% {
    transform: translate(200%, 100%); }
  100% {
    transform: translate(100%, 100%); } }

.page-title {
  padding: 2rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid rgba(167, 169, 171, 0.3); }
  .page-title .page-title__title h1 {
    font-size: 3rem;
    margin-bottom: 2rem; }
  .page-title .page-title__breadcrumbs .breadcrumb {
    background-color: transparent;
    font-size: 1.5rem;
    padding: 0rem;
    margin: 0rem; }
    .page-title .page-title__breadcrumbs .breadcrumb .breadcrumb-item a {
      color: black;
      text-decoration: none; }

.home__hero {
  display: flex;
  height: 80vh;
  position: relative; }
  .home__hero--slider {
    width: 25%; }
    .home__hero--slider.slider-0 {
      background: url("../images/slider/slider1.jpg");
      background-position: center;
      background-size: cover; }
    .home__hero--slider.slider-1 {
      background: url("../images/slider/slider2.jpg");
      background-position: center;
      background-size: cover; }
    .home__hero--slider.slider-2 {
      background: url("../images/slider/slider3.jpg");
      background-position: center;
      background-size: cover; }
    .home__hero--slider.slider-3 {
      background: url("../images/slider/slider4.jpg");
      background-position: center;
      background-size: cover; }
  .home__hero--text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 4rem;
    color: white; }
    .home__hero--text p {
      font-size: 2.5rem;
      color: white;
      margin-bottom: 2rem;
      text-shadow: 1px 1px 10px black; }
    .home__hero--text h1 {
      font-family: 'Casanova Scotia Regular';
      font-size: 4rem;
      text-shadow: 1px 1px 10px black; }

.home__service {
  padding: 10rem 0rem; }
  .home__service--title {
    text-align: center;
    width: 70%;
    margin: 0 auto; }
    .home__service--title h1 {
      font-family: "Casanova Scotia Regular";
      font-size: 4rem;
      color: #78c8a8; }
    .home__service--title p {
      font-size: 2rem; }
  .home__service--content .slick-track {
    padding: 5rem 0rem; }
  .home__service--content .slick-prev {
    left: -10rem; }
  .home__service--content .slick-next {
    right: -10rem; }
  .home__service--content-service {
    position: relative;
    width: 20%;
    background-color: #f5f5f5;
    padding: 4rem;
    text-align: center;
    transform: scale(0.8);
    transition: all 0.2s;
    z-index: 1;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.3);
    margin-left: -5rem;
    margin-right: -5rem; }
    .home__service--content-service.slick-active.slick-center {
      transform: scale(1);
      z-index: 3; }
    .home__service--content-service.slick-active {
      transform: scale(0.9);
      z-index: 2; }
    .home__service--content-service-image {
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 3rem;
      box-shadow: 1rem 1rem 1rem rgba(120, 200, 168, 0.3);
      overflow: hidden; }
      .home__service--content-service-image img {
        width: 100%;
        height: auto; }
    .home__service--content-service-name h3 {
      font-family: "Casanova Scotia Regular";
      font-size: 3rem;
      margin-bottom: 0rem;
      color: #78c8a8; }
    .home__service--content-service-name p {
      font-size: 2rem; }
