$color-green: rgb(40, 167, 69);
$color-yellow: rgb(255, 193, 7);
$color-red: rgb(220, 53, 69);


$color-white:rgb(255,255,255);
$color-black:rgb(0,0,0);

$light-grey : #A7A9AB;
$grey-background : #f5f5f5;
$dark-grey : #58585B;
$color-primary : #265e79;
$color-secondary : #78c8a8;

$font-serif: 'Noto Serif', serif;

$shadow: 0rem 0px 1rem rgba($light-grey,0.5);
