@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: 'Casanova Scotia Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Casanova Scotia Regular'), url('../webfonts/Casanova Scotia.woff') format('woff');
}

*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include adapt(sm) {
        font-size: 50%;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

h1 {
    font-size: 2rem;
}

p {
    color: $dark-grey;
}


