@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@font-face {
    font-family: 'Casanova Scotia Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Casanova Scotia Regular'), url('../webfonts/Casanova Scotia.woff') format('woff');
}

*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include adapt(sm) {
        font-size: 50%;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

h1 {
    font-size: 2rem;
}

p {
    color: $dark-grey;
}


