.shared-title {
      text-align: center;
      position: relative;
      padding: 1rem;
      width: 80%;
      margin: 0 auto;

      &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 5rem;
          height: 0.2rem;
          background-color: $color-black;
          
      }

      & .shared-title__title {
          font-family: $font-serif;
          font-size: 4rem;
          margin-bottom: 2rem;
      }

      & .shared-title__desc {
          font-size: 1.5rem;
          margin-bottom: 2rem;
          color: $light-grey;
      }
}

.button-white-border-hoverable {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    color: $color-white !important;
    border: 1px solid $color-white;
    border-radius: 0rem;
    width: 15rem;
    text-align: center;
    padding: 1rem 2rem;
    background-color: transparent;
    transition: all 0.2s;
    overflow: hidden;
    position: relative;
    
    &:before{
        content: '';
        display: block;
        position: absolute;
        background: rgba(255,255,255,0.5);
        width: 60px;
        height: 100%;
        left: 0;
        top: 0;
        opacity: .5;
        filter: blur(30px);
        transform: translateX(-100px)  skewX(-15deg);
      }
      &:after{
        content: '';
        display: block;
        position: absolute;
        background: rgba(255,255,255,0.2);
        width: 30px;
        height: 100%;
        left: 30px;
        top: 0;
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100px) skewX(-15deg);
      }
      &:hover,
      &:focus{
        color: $color-white;
        text-decoration: none;
        cursor: pointer;
        &:before{
          transform: translateX(300px)  skewX(-15deg);  
          opacity: 0.6;
          transition: 1.4s;
        }
        &:after{
          transform: translateX(300px) skewX(-15deg);  
          opacity: 1;
          transition: 1.4s;
        }
      }
}

.button-white {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    color: $color-black !important;
    border: 1px solid $color-white;
    border-radius: 0rem;
    width: 15rem;
    text-align: center;
    padding: 1rem 2rem;
    background-color: $color-white;;
    transition: all 0.2s;
    overflow: hidden;
    position: relative;

    &:before{
        content: '';
        display: block;
        position: absolute;
        background: rgba(0,0,0,0.5);
        width: 60px;
        height: 100%;
        left: 0;
        top: 0;
        opacity: .5;
        filter: blur(30px);
        transform: translateX(-100px)  skewX(-15deg);
      }
      &:after{
        content: '';
        display: block;
        position: absolute;
        background: rgba(0,0,0,0.2);
        width: 30px;
        height: 100%;
        left: 30px;
        top: 0;
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100px) skewX(-15deg);
      }
      &:hover,
      &:focus{
        color: $color-white;
        text-decoration: none;
        cursor: pointer;
        &:before{
          transform: translateX(300px)  skewX(-15deg);  
          opacity: 0.6;
          transition: 1.4s;
        }
        &:after{
          transform: translateX(300px) skewX(-15deg);  
          opacity: 1;
          transition: 1.4s;
        }
      }
}

.button-black {
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    color: $color-white !important;
    border-radius: 0rem;
    width: 15rem;
    text-align: center;
    padding: 1rem 2rem;
    background-color: $color-black;;
    transition: all 0.2s;
    overflow: hidden;
    display: inline-block;

    &:before{
        content: '';
        display: block;
        position: absolute;
        background: rgba(255,255,255,0.5);
        width: 60px;
        height: 100%;
        left: 0;
        top: 0;
        opacity: .5;
        filter: blur(30px);
        transform: translateX(-100px)  skewX(-15deg);
      }
      &:after{
        content: '';
        display: block;
        position: absolute;
        background: rgba(255,255,255,0.2);
        width: 30px;
        height: 100%;
        left: 30px;
        top: 0;
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100px) skewX(-15deg);
      }
      &:hover,
      &:focus{
        color: $color-white !important;
        text-decoration: none;
        cursor: pointer;
        &:before{
          transform: translateX(300px)  skewX(-15deg);  
          opacity: 0.6;
          transition: 1.4s;
        }
        &:after{
          transform: translateX(300px) skewX(-15deg);  
          opacity: 1;
          transition: 1.4s;
        }
      }
}

.showerrormessage {
  color: #dc3545;
  display: block; }

.hiderrormessage {
  display: none; }

.errorborder {
  border-color: #dc3545 !important; }

.successborder {
    border-color: #34b752 !important
}

.modal-content {
  background-color: transparent !important;
  border: none !important; }

.modal-header {
  border-bottom: none; }