a.scroll-to-top {
    &:link,
    &:hover,
    &:visited {
        text-decoration: none;
        font-size: 1.5rem;
        display: block;
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        background-color:$color-black;
        color: $color-white;
        bottom: -100%;
        right: 10rem;
        cursor: pointer;
        transition: all 1s;
        z-index: 100;

        @include adapt(sm) {
            right: 5rem;
        }

        &.show {
            bottom: 8rem;
        }
    }
}
.footer {
    background-color: $color-black;
    padding: 2rem 0rem;
    display: flex;

    & .footer__wrapper {
        display: flex;
    }

    & .footer__icons {
        & .nav {
            & .nav-item {
                & a.nav-link {
                    font-size: 1.2rem;
                    font-weight: 600;
            
                    &:link,
                    &:visited {
                        color: $color-white;
                    }
                    &:hover,
                    &:focus {
                        color: $color-white;
                    }
                }
            }
        }
    }
    & .footer__credits {
        flex: 1;
        color: $color-white;
        text-align: right;
        font-size: 1.5rem;
    }
    
}