.about__whoweare {
    padding: 10rem 0rem;

    &--text {
        padding-left: 3rem;
        padding-right: 3rem;

        & h1 {
            font-family: 'Casanova Scotia Regular';
            font-size: 4rem;
            color: $color-primary;
            margin-bottom: 3rem;
        }

        & p {
            font-size: 2rem;
            margin-bottom: 0rem;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }

    &--image {
        overflow: hidden;
        padding-left: 3rem;
        padding-right: 3rem;

        img {
            object-fit: cover;
            height: 100%;
        }
    }
}
.pageAbout-vision {
    padding: 0rem;

    &__vision {
        padding: 4rem;
        background-color: $grey-background;
        overflow: hidden;
        transition: all 0.2s;
        text-align: center;

        @include adapt(md) {
            &:not(:last-child) {

            }
        }

        &--title {
            font-family: 'Casanova Scotia Regular';
            font-size: 4rem;
            color: $color-secondary;
        }

        &--content {
            font-size: 2rem;
            margin-bottom: 0rem;
        }

        &--icon {
            width: 15rem;
            height: auto;
            margin-bottom: 1rem;
        }
    }
}

.about__team {
    padding: 10rem 0rem;
    &--title {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 5rem;

        & h1 {
            font-family: 'Casanova Scotia Regular';
            font-size: 4rem;
            color: $color-primary;
            margin-bottom: 1rem;
        }
    }

    &--team {
        &-member {
            text-align: center;
            padding-left: 2rem;
            padding-right: 2rem;

            &-photo {
                margin-bottom: 2rem;
                img {
                    width: 15rem;
                    height: auto;
                    border-radius: 50%;
                }
            }
            &-nameDesignation {
                margin-bottom: 2rem;

                h2 {
                    font-size: 2.5rem;
                }
                p {
                    font-size: 2rem;
                    color: $light-grey;
                    font-weight: 600;
                    padding-bottom: 1.5rem;
                    position: relative;

                    &:after {
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 5rem;
                        height: 2px;
                        background-color: $color-primary;
                        content: "";
                    }
                }
            }
            &-quote {
                margin-bottom: 6rem;

                p {
                    font-size: 1.8rem;
                    font-weight: 400;
                }
            }
            &-social {
                position: relative;
                ul {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 0;
                    margin: 0;
                    list-style: none;
                }
                li {
                    float: left;

                    &:not(:last-child) {
                        margin-right: 1rem;
                    }

                    a {
                        width: 4rem;
                        height: 4rem;
                        border-radius: 50%;
                        background-color: $color-primary;
                        font-size: 1.8rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $color-white;

                        &:hover {
                          text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
