

.career__form {
    margin: 8rem 0rem;

    &--wrapper {
        display: flex;
        
        @include adapt(md) {
            flex-direction: column;
        }
    }
    &--vector {
        width: 50%;
        background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('../../images/careerVect.jpg');
        background-size: cover;
        
        @include adapt(md) {
            height: 50rem;
            width: 100%;
        }
    }
    &--form {
        width: 50%;
        font-size: 1.5rem;
        padding: 4rem;
        background-color: $grey-background;

        @include adapt(md) {
            width: 100%;
        }

        & input[type="text"],
        & input[type="email"] {
            font-size: 1.5rem;
            padding: 1rem;  
            height: 4rem;
            border-radius: 0rem;
            border: 1px solid rgba($light-grey,0.3);
            margin-bottom: 1.5rem;
        }

        & .custom-file {
            margin-bottom: 1.5rem;
            height: 4rem;

            & .custom-file-label {
                font-size: 1.5rem;
                padding: 1rem;  
                height: 4rem;
                border-radius: 0rem;
                
                &::after {
                    padding: 1rem;  
                    height: 4rem;
                    background-color: transparent;
                }
            }
        }

        & textarea {
            font-size: 1.5rem;
            padding: 1rem;
            height: 10rem;
            border-radius: 0rem;
            border: 1px solid rgba($light-grey,0.3);
            margin-bottom: 1.5rem;
        }
    }
}
