.page-title {
    padding: 2rem;
    background-color: $grey-background;
    border-bottom: 1px solid rgba($light-grey,0.3);

    & .page-title__title {
        & h1 {
            font-size: 3rem;
            margin-bottom: 2rem;
        }
        
    }
    & .page-title__breadcrumbs {
        & .breadcrumb {
            background-color: transparent;
            font-size: 1.5rem;
            padding: 0rem;
            margin: 0rem;

            & .breadcrumb-item {
                & a {
                    color: $color-black;
                    text-decoration: none;
                }
            }
        }
        
    }
}

.home__hero {
    display: flex;
    height: 80vh;
    position: relative;

    &--slider {
        width: 25%;

        &.slider-0 {
            background: url("../images/slider/slider1.jpg");
            background-position: center;
            background-size: cover;
        }
        &.slider-1 {
            background: url("../images/slider/slider2.jpg");
            background-position: center;
            background-size: cover;
        }
        &.slider-2 {
            background: url("../images/slider/slider3.jpg");
            background-position: center;
            background-size: cover;
        }
        &.slider-3 {
            background: url("../images/slider/slider4.jpg");
            background-position: center;
            background-size: cover;
        }
    }

    &--text {
        @include center;
        text-align: center;
        padding: 4rem;
        color: $color-white;

        & p {
            font-size: 2.5rem;
            color: $color-white;
            margin-bottom: 2rem;
            text-shadow: 1px 1px 10px $color-black;
        }

        & h1 {
            font-family: 'Casanova Scotia Regular';
            font-size: 4rem;
            text-shadow: 1px 1px 10px $color-black;
        }

    }
}

.home__service {
    padding: 10rem 0rem;

    &--title {
        text-align: center;
        width: 70%;
        margin: 0 auto;

        h1 {
            font-family: $font-serif;
            font-size: 4rem;
            color: $color-secondary;
            margin-bottom: 1rem;
        }
        p {
            font-size: 2rem;
            font-weight: 200;
        }
    }

    &--content {

        .slick-track {
            padding: 5rem 0rem;
        }

        .slick-prev {
            left: -10rem;
        }

        .slick-next {
            right: -10rem;
        }


        &-service {
            position: relative;
            width: 20%;
            background-color: $grey-background;
            padding: 4rem;
            text-align: center;
            transform: scale(0.8);
            transition: all 0.2s;
            z-index: 1;
            box-shadow: 0rem 0rem 1rem rgba($color-black,0.3);
            margin-left: -5rem;
            margin-right: -5rem;

            @include adapt(md) {
                height: 45rem;
            }

            &.slick-active.slick-center {
                transform: scale(1);
                z-index: 3;
            }

            &.slick-active {
                transform: scale(0.9);
                z-index: 2;
            }

            &-image {
                width: 20rem;
                height: 20rem;
                border-radius: 50%;
                margin: 0 auto;
                margin-bottom: 3rem;
                box-shadow: 1rem 1rem 1rem rgba($color-secondary,0.3);
                overflow: hidden;

                @include adapt(md) {
                    width: 18rem;
                    height: 18rem;
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }

            &-name {
                h3 {
                    font-family: $font-serif;
                    font-size: 3rem;
                    margin-bottom: 0rem;
                    color: $color-secondary;
                }
                p {
                    font-size: 2rem;
                }
            }
        }
    }
}

.home__whoweare {
    padding: 10rem 0rem;
    background-image: linear-gradient(rgba($color-primary,0.95), rgba($color-primary, 0.95)), url(../images/whowearebackground.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;

    &--text {
        margin-bottom: 2rem;
        width: 70%;

        & h1 {
            font-family: $font-serif;
            font-size: 4rem;
            color: $color-white;
            margin-bottom: 1rem;
        }

        & p {
            font-size: 2rem;
            color: $color-white;
            margin-bottom: 1rem;
            font-weight: 200;
        }
        &-action {
            margin-top:10rem;

            a {
                img {
                    width: 10rem;
                    height: auto;
                }
            }

            p {
                margin-top: 2rem;
            }
        }
    }
}

.home__whychooseus {
    padding: 10rem 0rem;

    &--title {
        width: 70%;
        margin: 0 auto;
        text-align: center;

        & h1 {
            font-family: 'Casanova Scotia Regular';
            font-size: 4rem;
            color: $color-primary;
            margin-bottom: 1rem;
        }

        & p {
            font-size: 2rem;
            margin-bottom: 1rem;
            font-weight: 200;
        }
    }

    &--cards {
        margin-top: 8rem;


        &-card {
            text-align: center;
            padding: 0rem 3rem ;
            @include adapt(sm) {
                margin-bottom: 2rem;
            }

            &-icon {
                margin-bottom: 2rem;

                img {
                    width: 10rem;
                }
            }

            &-text {
                h3 {
                    font-size: 3rem;
                    font-family: $font-serif;
                    color: $color-primary;
                    margin-bottom: 1.5rem;
                }
                p {
                    font-size: 1.5rem;
                    font-weight: 200;
                    font-size: 2rem;
                }
            }
        }
    }
}
.home__ourClient {
    padding: 10rem 0rem;
    background-color: $grey-background;

    &--title {
        width: 70%;
        margin: 0 auto;
        text-align: center;

        & h1 {
            font-family: 'Casanova Scotia Regular';
            font-size: 4rem;
            color: $color-primary;
            margin-bottom: 1rem;
        }
    }

    &--cards {
        margin-top: 8rem;

        &-card {
            &-photo {
                text-align: center;
                img {
                    width: 10rem;
                    height: auto;
                    margin: 0 auto;
                    border-radius: 50%;
                }
            }

            &-companyLogo {
                img {
                    width: 15rem;
                    height: auto;
                    margin: 0 auto;
                }
            }

            &-testimony {
                text-align: center;

                p {
                    font-size: 1.7rem;
                    font-weight: 300;
                }
            }

            &-personDetails {
                text-align: center;

                p {
                    font-size: 1.6rem;
                }
            }
        }
    }
}
.home__career {
    padding: 10rem 0rem;
    background-image: linear-gradient(rgba($color-secondary,0.9), rgba($color-secondary, 0.9)), url(../images/careerbackground.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;

    &--wrapper {
        width: 50%;
        margin: 0 auto;
        text-align: center;

        @include adapt(sm) {
            width: 100%;
        }

        & h1 {
            font-family: 'Casanova Scotia Regular';
            font-size: 4rem;
            color: $color-white;
            margin-bottom: 1rem;
            text-shadow: 1px 1px 10px rgba($color-black,0.5);
            @include adapt(sm) {
                margin-bottom: 2rem;
            }
        }

        & p {
            font-size: 2rem;
            margin-bottom: 4rem;
            color: $color-white;
            text-shadow: 1px 1px 10px $color-black;
        }

        & button {
            font-size: 2rem;
            background-color: $color-white;
            color: $dark-grey;
            padding: 1.5rem;
            width: 30rem;
            border-radius: 3rem;
        }
    }
}

.home__contactus {
    padding: 10rem 0rem;
    background-color: $grey-background;

    &--title {
        width: 70%;
        margin: 0 auto;
        text-align: center;
        border-bottom: 1px solid $light-grey;
        margin-bottom: 5rem;

        & h1 {
            font-family: 'Casanova Scotia Regular';
            font-size: 4rem;
            color: $color-primary;
            margin-bottom: 2rem;
        }

    }

    &--wrapper {
        display: flex;
        background-color: $color-white;
        padding: 0rem;

        @include adapt(sm) {
            flex-direction: column;
        }

        &-form {
            width: 60%;
            padding: 4rem;
            font-size: 1.5rem;

            @include adapt(sm) {
                width: 100%;
            }

            .form-group {
                margin-bottom: 3rem;
            }

            input[type=text],textarea {
                border-radius: 0px;
                font-size: 1.5rem;
                border: 0px;
                border-bottom: 2px solid $light-grey;

                &:focus {
                    box-shadow: none;
                    border-bottom: 2px solid $color-primary;
                }
            }

            select {
                font-size: 1.5rem;
                border: 2px solid $light-grey;
                padding: 1rem 2rem;
                border-radius: 3rem;
                height: auto;
                background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 2rem center/8px 10px;
            }

            & button {
                font-size: 2rem;
                background-color: $color-primary;
                color: $color-white;
                padding: 1.5rem;
                width: 30rem;
                border-radius: 3rem;

                &:hover {
                    color: $color-white;
                }
            }
        }

        &-map {
            width: 40%;

            @include adapt(sm) {
                width: 100%;
                height: 50rem;
            }
        }
    }
}



