.icms__heroBanner {
  padding: 10rem 0rem;
  position: relative;
  padding-bottom: 35rem;

  @include adapt(lg) {
    padding-bottom: 25rem;
  }

  @include adapt(sm) {
    padding-bottom: 20rem;
  }

  canvas {
    display: block;
    vertical-align: bottom;
  }

  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: $color-primary;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  &--desc {
    position: relative;
    text-align: center;
    margin-bottom: 4rem;
    z-index: 2;

    & h1 {
      font-family: 'Casanova Scotia Regular';
      font-size: 4rem;
      color: $color-white;
      margin-bottom: 2rem;
    }

    & p {
      font-size: 2rem;
      color: $color-white;
      font-weight: 200;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 1rem;
    }

    & a {
      margin-top: 4rem;
      font-size: 2rem;
      background-color: $color-white;
      color: $dark-grey;
      padding: 1.5rem;
      width: 30rem;
      border-radius: 3rem;
    }
  }

  &--image {
    z-index: 2;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    img {
      width: 80%;
      height: auto;
      @include adapt(md) {
        width: 100%;
      }

      @include adapt(xs) {
        transform: scale(1.1);
        transform-origin: top;
      }

    }
  }
}

.icms__features {
  padding: 22rem 0rem 10rem 0rem;
  background-color: $grey-background;

  @include adapt(xs) {
    padding-top: 15rem;
  }

  &--wrapper {

  }
  &--title {
    width: 80%;
    margin: 0 auto;
    text-align: center;

    & h1 {
      font-family: 'Casanova Scotia Regular';
      font-size: 4rem;
      color: $color-primary;
      margin-bottom: 1rem;
    }

    & p {
      font-size: 2rem;
      margin-bottom: 4rem;
    }
  }

  &--features {
    &-feature {
      text-align: center;
      padding: 2rem 4rem;
      max-width: 20%;
      flex: 0 0 20%;
      @include adapt(md) {
        max-width: 25%;
        flex: 0 0 25%;
      }
      @include adapt(sm) {
        max-width: 33.33%;
        flex: 0 0 33.33%;
      }

      @include adapt(xs) {
        max-width: 50%;
        flex: 0 0 50%;
      }

      img {
        width: 80%;
        height: auto;
        @include adapt(xs) {
          width: 50%;
        }
      }
      h1 {
        color: $dark-grey;
      }
    }
  }
}

.icms__whyicms {
  padding: 10rem 0rem;
  background-color: $grey-background;

  &--title {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 8rem;

    & h1 {
      font-family: 'Casanova Scotia Regular';
      font-size: 4rem;
      color: $color-primary;
      margin-bottom: 1rem;
    }

    & p {
      font-size: 2rem;
    }
  }

  &--cards {
    &-card {
      padding-left: 4rem;
      padding-right: 4rem;

      @include adapt(md) {
        margin-bottom: 2rem;
        text-align: center;
      }

      img {
        width: 8rem;
        height: auto;
        margin-bottom: 2rem;
      }
      h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        font-weight: 600;
      }
     p {
        font-size: 2rem;
        font-weight: 300;
     }
    }
  }
}
.icms__stats {
  padding: 5rem 0rem;
  background-color: $color-secondary;
  color: $color-white;

  &--stat {
    text-align: center;

    @include adapt(md) {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    h1 {
      font-size: 6rem;
      color: $color-white;
      font-weight: 700;
      margin-bottom: 0rem;
    }
    p {
      font-size: 2rem;
      color: $color-white;
    }
  }
}
.icms__mobile {
  padding: 8rem 0rem;

  & .container {
    display: flex;
    align-items: center;

    @include adapt(md) {
      flex-direction: column;
    }
  }
  &--image {
    width: 40%;
    text-align: center;

    @include adapt(md) {
      width: 100%;
      margin-bottom: 4rem;
    }

    & img {
      width: 70%;
      height: auto;

      @include adapt(md) {
        width: 50%;
      }
    }
  }

  &--details{
    width: 60%;
    padding-right: 8rem;

    @include adapt(md) {
      padding-right: 0rem;
      width: 100%;
    }

    &-detail{

      &-title{
        margin-bottom: 2rem;
        @include adapt(md) {
          text-align: center;
        }

        & h2 {
          font-family: 'Casanova Scotia Regular';
          font-size: 4rem;
          color: $color-primary;
          margin-bottom: 1rem;
        }
      }
      &-points{
        margin-bottom: 4rem;

        & dl {
          display: flex;
          align-items: center;
          font-size: 2rem;
          margin-bottom: 2rem;

          & dt {
            margin-right: 2rem;
            margin-bottom: 0rem;

            &  i {
              font-size: 2rem;
              line-height: 1.5;
              color: $color-primary;
            }
          }

          & dd {
            margin-bottom: 0rem;
          }
        }
      }
      &-action {
        & a.btn {
          font-size: 2rem;
          background-color: $color-primary;
          color: $color-white;
          padding: 1rem;
          width: 20rem;
          border-radius: 3rem;
          font-weight: 300;

          &:not(:last-child) {
            margin-right: 2rem;
          }
        }
      }
    }
  }
}

.icms__whocanbenefit {
  padding: 10rem 0rem;

  &--title {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;

    & h1 {
      font-family: 'Casanova Scotia Regular';
      font-size: 4rem;
      color: $color-primary;
      margin-bottom: 1rem;
    }

    & p {
      font-size: 2rem;
    }
  }

  &--products {

    .slick-track {
      padding: 6rem 0rem;
    }

    &-product{
      position: relative;
      width: 100%;
      height: 20rem;
      cursor: pointer;
      margin-right: 2rem;
      margin-left: 2rem;

      &:hover {
        & .icms__whocanbenefit--products-product-out {
          transform: translateY(-5rem);
          z-index: 10;

          & .text-wrapper {
            background-color: rgba(0,0,0,0.5);

            & h1 {
              opacity: 1;
              letter-spacing: 0rem;
            }
          }
        }

        & .icms__whocanbenefit--products-product-in {
          transform: translateY(5rem);
          z-index: 9;
        }
      }

      & .icms__whocanbenefit--products-product-out {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        backdrop-filter: 10px;
        transition: all  0.2s;
        overflow: hidden;

        & .text-wrapper {
          background-color: rgba(0,0,0,0);
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.2s;
          text-align: center;

          & h1 {
            padding: 2rem;
            font-size: 2rem;
            margin-bottom: 0rem;
            font-weight: 700;
            color: $color-white;
            transition: all 0.2s;
            opacity: 1;
            letter-spacing: 0.5rem;
            opacity: 0;
          }
        }
      }

      & .icms__whocanbenefit--products-product-in {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10rem;
        background-color: $grey-background;
        transition: all 0.2s;
        padding: 2rem;
        overflow: hidden;
        box-shadow: inset 0rem 0px 1rem rgba($light-grey,0.5);

        p {
          font-size: 1.5rem;
          color: $color-black;

        }
      }
    }
  }

  &--action {
    text-align: right;
    & button {
      font-size: 2rem;
      background-color: $color-secondary;
      padding: 0.5rem 1rem;
      color: $color-white;
      margin-right: 0.5rem;

      &:hover {
        background-color: darken($color-secondary,10%);
        color: $color-white;
      }

      i {
        line-height: 1.5;
      }
    }
  }
}
