.iyms__heroBanner {
  display: flex;
  height: 80vh;
  position: relative;

  @include  adapt(sm) {
    flex-direction: column;
  }

  &--banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;

    & h1 {
      font-family: 'Casanova Scotia Regular';
      font-size: 3rem;
      text-shadow: 1px 1px 10px $color-black;
      color: $color-white;

      @include adapt(lg) {
        font-size: 2rem;
      }


    }

    &.banner-1 {
      background: url("../images/iyms/slider1.jpg");
      background-position: center;
      background-size: cover;
    }
    &.banner-2 {
      background: url("../images/iyms/slider2.jpg");
      background-position: center;
      background-size: cover;
    }
    &.banner-3 {
      background: url("../images/iyms/slider3.jpg");
      background-position: center;
      background-size: cover;
    }
  }
}

.iyms__features {
  padding: 10rem 0rem;

  &--feature {
    align-items: center;

    &-image {
      img {
        width: 180%;
        height: auto;
        transform: translateX(-50%);
      }
    }

    &-desc {
      & h1 {
        font-family: 'Casanova Scotia Regular';
        font-size: 4rem;
        color: $color-primary;
        margin-bottom: 3rem;
      }

      & p {
        font-size: 1.8rem;
        margin-bottom: 2rem;
      }

      & button {
        margin-top: 1rem;
        font-size: 2rem;
        background-color: $color-primary;
        color: $color-white;
        padding: 1.5rem;
        width: 30rem;
        border-radius: 3rem;

        &:hover {
          color: $color-white;
        }
      }
    }
  }
}

.icms__whyiyms {
  padding: 10rem 0rem;
  background-color: $grey-background;

  &--title {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 8rem;

    & h1 {
      font-family: 'Casanova Scotia Regular';
      font-size: 4rem;
      color: $color-secondary;
      margin-bottom: 1rem;
    }

    & p {
      font-size: 2rem;
    }
  }

  &--cards {
    &-card {
      padding-left: 4rem;
      padding-right: 4rem;

      img {
        width: 8rem;
        height: auto;
        margin-bottom: 2rem;
      }
      h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        font-weight: 600;
      }
      p {
        font-size: 2rem;
        font-weight: 300;
      }
    }
  }
}
